/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fuente global */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #F5F5DC;
    background-color: #F5F5DC;
}

/* Colores inspirados en el mar (colores más oscuros) */
:root {
    --azul-marino: #002d42; /* Azul marino más oscuro */
    --azul-claro: #004f6d;  /* Azul claro más oscuro */
    --verde-mar: #007f8d;   /* Verde mar más oscuro */
    --beige: #F5F5DC;       /* Beige suave */
    --blanco: #ffffff;
}

/* Topbar */
.topbar {
    background-color: var(--azul-claro); /* Color azul más oscuro */
    color: var(--blanco);
    font-size: 19px;
    padding: 0px 0;
}

.topbar p {
    margin: 0;
}

/* Header */
header {
    background-color: var(--azul-claro);
    color: var(--blanco);
    padding: 10px 0;
    text-align: center;
}

.logo {
    max-height: 100px; /* Ajusta la altura máxima del logo */
    margin: 0; /* Elimina el margen */
    padding: 0; /* Elimina el padding */
    display: block; /* Asegura que el logo se comporte como un bloque */
}

/* Navbar */
.navbar {
    background-color: var(--azul-claro); /* Fondo más oscuro */
    padding: 8px 15px; /* Espaciado interno reducido */
    border-radius: 10px; /* Esquinas redondeadas */
}

.navbar .navbar-nav {
    font-size: 1.1rem; /* Tamaño de texto un poco más grande */
    text-align: center;
}

.navbar .navbar-nav .nav-item {
    margin: 0 5px; /* Espaciado entre los ítems ajustado */
}

.navbar .navbar-nav .nav-link {
    color: var(--b);
    padding: 5px 10px; /* Padding reducido */
    transition: background-color 0.5s ease; /* Transición suave */
}

.navbar .navbar-nav .nav-link:hover {
    background-color: var(--verde-mar); /* Color de fondo al pasar el mouse */
    color: var(--blanco);
}

header .container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;         /* Centra los elementos verticalmente */
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
}



/* Sección Hero */
.hero-section {
    position: relative;
    text-align: center;
    color: var(--blanco);
}

.carousel-item h1, .carousel-item p {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Lobster', cursive;
}

.carousel-inner .carousel-item {
    transition: transform 2s ease, opacity 1.5s ease;
}


/* Sección Misión y Visión */

.bg-mision-vision {
    background-color: var(--beige); /* Usar el color verde mar */
    color: var(--beige);
    padding: 40px 0;
}

#mision-vision {
    background-color: var(--beige);
    padding: 50px 0;
}

#mision-vision h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-align: center;
    color: var(--azul-claro);
}

#mision-vision .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    line-height: 1.9;
    color: var(--azul-claro);
}

#mision-vision .col-md-6 {
    padding: 10px;
}



#mision-vision h3 {
    font-size: 1.8rem;
    color: var(--azul-claro);
}

#Mision-Vision p {
    color: var(--azul-claro);
    line-height: 1.8;
}



#mision-vision .row img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 0; /* Elimina el margen inferior */
    object-fit: cover; /* Para asegurarnos de que las imágenes no se deformen */
    display: block; /* Elimina el espacio extra debajo de la imagen */

}

/* Sección Horario de Atención */
#horario {
    background-color: var(--beige); /* Cambia este color según tu preferencia */
    color: var(--azul-marino);
    padding: 50px 0;
}


#horario h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

#horario p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

#horario ul {
    list-style: none;
    padding: 0;
}

#horario ul li {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

/* Sección Productos y Servicios */
#productos-servicios {
    background-color: var(--azul-claro);
    color: var(--beige);
    padding: 50px 0;
}

#productos-servicios h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

#productos-servicios p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

#productos-servicios .col-md-4 {
    margin-bottom: 30px;
}

#productos-servicios img {
    width: 100%;
    height: 600px;
    border-radius: 25px;
    margin-bottom: 0; /* Elimina el margen inferior */
    object-fit: cover; /* Para asegurarnos de que las imágenes no se deformen */
    display: block; /* Elimina el espacio extra debajo de la imagen */

}

#productos-servicios h4 {
    font-size: 1.5rem;
    margin-top: 10px;
}

#productos-servicios p {
    font-size: 1.2rem;
}

/* Formulario de contacto */

.contact-form {
    background-color: var(--azul-marino);
    color: var(--beige);
    padding: 50px 0;
}

.contact-form h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 30px;
    color: var(--beige);
}

.contact-form form {
    max-width: 800px;
    margin: 0 auto;
}

.contact-form .form-label {
    font-size: 1.1rem;
    color: var(--beige);
}

#contacto .form-control {
    background-color: var(--beige);
    border: 1px solid var(--azul-claro);
    border-radius: 5px;
    padding: 10px;
    color: var(--azul-marino);
}

#contacto .form-control::placeholder {
    color: var(--azul-marino);
    opacity: 0.7;
}

.contact-form button {
    background-color: var(--azul-marino);
    color: var(--beige);
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
}

.contact-form button:hover {
    background-color: var(--azul-claro);
}

/* Sección sobre nosotros */
#sobre-nosotros {
    background-color: var(--beige);
    padding: 50px 0;
}

#sobre-nosotros h2 {
    font-size: 2.5rem;
    text-align: center;
    color: var(--azul-marino);
    margin-bottom: 30px;
}

#sobre-nosotros p {
    font-size: 1.3rem;
    color: var(--azul-marino);
    margin-bottom: 30px;
}

#sobre-nosotros .social-icons .btn {
    font-size: 1.1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#sobre-nosotros .social-icons .btn i {
    margin-right: 8px;
}

#sobre-nosotros img {
    width: 100%;
    height: 550px;
    border-radius: 15px;
    margin-top: 20px;
    max-width: 100%; /* Asegura que la imagen no sobresalga del contenedor */
}

/* Footer */
footer {
    background-color: var(--azul-marino);
    color: var(--blanco);
    padding: 2% 0;
    text-align: center;
}

footer h5 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.footer-container p {
    margin-top: 20px;
    font-size: 1rem;
}

.social-icons .btn {
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.social-icons .btn:hover {
    background-color: var(--azul-claro);
}

.footer-map {
    width: 100%;
    max-width: 800px;
    height: 150px;
    margin: 0 auto;
    border: 0;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .hero-section h1 {
        font-size: 2.5rem;
    }

    .navbar .navbar-nav .nav-link {
        font-size: 1rem;
    }

    .contact-form form {
        padding: 0 15px;
    }

    #sobre-nosotros p {
        font-size: 1rem;
    }
}

@media (max-width: 576px) {
    .navbar .navbar-nav .nav-link {
        padding: 8px 15px;
    }

    .hero-section h1 {
        font-size: 1.8rem;
    }

    .contact-form .form-label {
        font-size: 1rem;
    }

    .contact-form .form-control {
        font-size: 1rem;
    }

    .contact-form button {
        font-size: 1rem;
    }
}
